:css
  .quote blockquote { font-style: italic; }
  .quote .sig { font-style: normal; margin-top: 10px; }

%ul
  %li
    Need a press photo? 
    %a{:href => "https://www.dropbox.com/s/nssnui98g9t08yg/01_netcat_Press_3000x2000.jpg"}
      Grab one here
  %li
    Need our bio?
    %a{:href => "/"} Grab it here

  %li
    Need anything else?
    %a{:href => "mailto:root@netcat.co"} root@netcat.co

%h3 Buzz
%p
  We've received some worldwide buzz for 
  %em
    %a{:href => 'http://netcat.bandcamp.com', :target => '_blank'}
      Cycles Per Instruction
  recently!

.quote
  %img{:src => '/images/flags/us.png'}
  %a{:href => 'http://www.soundctrl.com/organic-complexity-netcats-cycles-per-instruction', :target => '_blank'} The Organic, Computerized Complexity of netcat’s “Cycles Per Instruction”
  (soundctrl.com)

  %blockquote
    %p
      There are multiple philosophies and concepts woven together in Cycles Per Instruction: improvisation, computerization, democracy of software, building and breaking technological barriers between artist, art, and audience. But through the mystified intricacy of computer programming, netcat creates a really solid, beautiful piece of music.

    .sig
      &mdash; Brian Parker, SoundCtrl

.quote
  On Twitter

  %blockquote
    bought "cycles per instructions" by netcat. not only is was released as kernel module, it's also awesome improvised music! &mdash; <a href="https://twitter.com/thetetet/status/460144300580671489" target="_blank">@thetetet</a>
    %br
    great ambient music &mdash; <a href="https://twitter.com/CurtClendenin/status/460126328075735041" target="_blank">@CurtClendenin</a>
    %br
    omg best album ever &mdash; <a href="https://twitter.com/dest1k/status/460112134471299072" target="_blank">@dest1k</a>
    %br
    This album was pretty good too actually &mdash; <a href="https://twitter.com/venatiodecorus/status/459740965570629632" target="_blank">@venatiodecorus</a>
    %br
    music so excellent I just happily paid 5 clams for it &mdash; <a href="https://twitter.com/matt_voidptr/status/459699011595685888" target="_blank">@matt_voidptr</a>
    %br
    nerd score: insanely high &mdash; <a href="https://twitter.com/covafe/status/459649688283934722" target="_blank">@covafe</a>
    %br
    Take the best thing in the world and pair it with the second best thing. Instant nerdgasm. Must check this band out. &mdash; <a href="https://twitter.com/slotlocker/status/459597869058494464" target="_blank">@slotlocker</a>
    %br
    Their groupies have neck beards! &mdash; <a href="https://twitter.com/xecretcode/status/459417381170085889" target="_blank">@xecretcode</a>

.quote
  %img{:src => '/images/flags/us.png'}
  %a{:href => 'http://raisedbygypsies.blogspot.com/2014/05/cassette-review-netcat-cycles-per.html', :target => '_blank'} CASSETTE REVIEW: netcat “Cycles Per Instruction”
  (raisedbygypsies.blogspot.com)

  %blockquote
    %p
      This begins to bring out more of the computer vibe that I was expecting, and if you want to call this something to do with computers (somehow mix “computer” or “technology” with “ambience”) then that could work, but yes, this is genre defying.

    .sig
      &mdash; Joshua Macala, Raised by Gypsies

.quote
  %img{:src => '/images/flags/de.png'}
  %a{:href => 'http://tuximail.de/podcast/shownotes12.html', :target => '_blank'} Shownotes zu Was passiert da draußen? Folge 12 vom 13.
  (tuximail.de)

  %blockquote
    %p
      Sebi was nice enough to interview us for his German Linux/music podcast. Thanks, Sebi!

.quote
  %img{:src => '/images/flags/us.png'}
  %a{:href => "http://www.rs-online.com/designspark/electronics/eng/blog/media-formats-no-numbers-and-netcat", :target => '_blank'} Media Formats, No Numbers and Netcat
  (rs-online.com)

  %blockquote
    %p
      You'd be forgiven for thinking that the music probably won't be very good and I must admit I had my reservations. However, I'm pleased to report that it's excellent, that is provided that experimental music is your thing. In any case, it's certainly worth a listen and also a read of the blurb on their Bandcamp page, which describes the equally impressive processes used to create the LP.

    %p
      Honestly, I'm in awe, and if they ever release a single in hand-wired diode matrix ROM format they can put me down for a copy. No, make that two in case one of them develops dry solder joints!

    .sig
      &mdash; Andrew Back, Design Spark

.quote
  %img{:src => '/images/flags/us.png'}
  %a{:href => "http://www.reddit.com/r/linux/comments/23q0lw/the_band_netcat_releases_their_new_album_as_a/", :target => '_blank'} The band 'netcat' releases their new album... as a kernel module
  (reddit.com/r/linux)

  %blockquote
    %p
      Dude, it is great. You guys make fantastic use of that cello and the title track has a fantastic Bowie/Neukoln vibe to it. I love that you list Wireshark as one of your instruments, too, and I will totally be playing with midishark this weekend.

    %p
      I think I will be listening to this album a bunch this week. Really looking forward to what you come up with next. And seriously love the kernel module - clever, and funny.

    .sig
      &mdash; @0xC0FFEE, commenter on reddit.com

.quote
  %img{:src => '/images/flags/us.png'}
  %a{:href => "https://news.ycombinator.com/item?id=7636665", :target => '_blank'} Band releases album as kernel module
  (news.ycombinator.com)

  %blockquote
    %p
      Making such overcomplicated nonsense while still having it sound good is a great achievement. My hat is well and truly off.

    .sig
      &mdash; @JonnieCache, commenter on Hacker News

.quote
  %img{:src => '/images/flags/us.png'}
  %a{:href => "http://www.networkworld.com/community/blog/band-releases-album-linux-kernel-module", :target => '_blank'} Band releases album as Linux kernel module
  (networkworld.com)

  %blockquote
    %p
      I'm guessing at least one member of netcat has a day job in high tech.

    .sig
      &mdash; Paul McNamara, Network World

.quote
  %img{:src => '/images/flags/us.png'}
  %a{:href => 'http://beta.slashdot.org/story/201131', :target => '_blank'} Band Releases Album As Linux Kernel Module
  (slashdot.org)

  %blockquote
    The guy on the left clearly did the kernel bit.
    %br
    The dude in the middle has a cello and tattoo so he's clearly getting laid and therefor has never heard of Linux.
    %br
    The guy on the right... well look at his hat and shoes... he's way too busy putting imitation carbon fiber parts on his Mitsubishi Lancer to have time for programming.
    %br 
    Your welcome for the 10min of your life I saved you.

    .sig
      &mdash; @Charliemopps, commenter on slashdot.org

.quote
  %img{:src => '/images/flags/us.png'}
  %a{:href => "http://boingboing.net/2014/04/24/band-releases-album-as-linux-k.html", :target => '_blank'} Band releases album as Linux kernel module
  (boingboing.net)

  %blockquote
    %p
      A band called netcat (also the name of a popular networking tool) has released its new album, Cycles Per Instruction, in a number of formats, including a world first: the album can be compiled as a Linux kernel module.

    .sig
      &mdash; Cory Doctorow, boingboing.net

.quote
  %img{:src => '/images/flags/us.png'}
  %a{:href => "http://ajournalofmusicalthings.com/nerdiest-album-ever-band-releases-record-linux-kernel-module/", :target => '_blank'} The Nerdiest Album EVER: Band Releases Record as Linux Kernel Module

  %blockquote
    %p
      This repository contains the album’s track data in source files, that (for complexity’s sake) came from .oggfiles that were encoded from .wav files that were created from .mp3 files that were encoded from the mastered .wav files which were generated from ProTools final mix .wav files that were created from 24-track analog tape.

    %p
      Screw it.  Just listen here.

    .sig
      &mdash; Alan Cross, A Journal of Musical Things

.quote
  %img{:src => '/images/flags/de.png'}
  %a{:href => "http://www.pro-linux.de/news/1/21020/netcat-neues-album-als-kernel-modul.html", :target => '_blank'} Netcat: Neues Album als Kernel-Modul
  (pro-linux.de)

  %blockquote
    %p
      Dass der Linux-Kernel für vielerlei Belange eingesetzt wird, dürfte bekannt sein. So findet die freie Software nicht nur ihren Einsatz auf dem Desktop oder im Serverraum, sondern auch in zahlreichen Multimedia-Geräten oder Gadgets. Neu ist nun dank der US-Band »Netcat« die Möglichkeit, dass der Kernel selbst musiziert.

    .sig
      &mdash; Mirko Lindner, Pro-Linux.de

.quote
  %img{:src => '/images/flags/de.png'}
  %a{:href => "http://www.golem.de/news/netcat-musikalbum-als-linux-kernel-modul-veroeffentlicht-1404-106053.html", :target => '_blank'} Musikalbum als Linux-Kernel-Modul veröffentlicht
  (golem.de)

  %blockquote
    %p
      Diese wahrscheinlich nicht ganz der Wahrheit entsprechende Beschreibung ist aber ein gutes Beispiel für den Humor der Band. So sind die Include-Anweisungen für die Tracks nicht in der Ordnung der natürlichen Zahlen angeordnet, mit der Begründung, dass sonst der Compiler abstürzt. Ebenso findet sich ASCII-Art in dem Code und darüber hinaus sieht die Band-Webseite auch aus wie eine klassische Man-Page.

    .sig
      &mdash; Sebastian Grüner, golem.de

.quote
  %img{:src => '/images/flags/lv.png'}
  %a{:href => "http://www.open-news.lv/13018-grupa-netcat-izdevusi-albumu-linux-kodola-modula-forma", :target => '_blank'} Grupa Netcat izdevusi albumu Linux kodola moduļa formā
  (open-news.lv)

  %blockquote
    %p
      Muzikālā kolektīva netcat albums “Cycles Per Instruction” pieejams arī Linux kodola moduļa formā. Atskaņošana notiek, izmantojot moduļa izveidoto ierīci /dev/netcat, bet informācija par atskaņojamo dziesmu parādās, izmantojot dmesg. Pēc moduļa kompilēšanas un ielādes, atskaņošanai jāizmanto konsoles komanda “cat /dev/netcat | ogg123 -”. Grupa izcēlusies arī ar to, ka informāciju par sevi festivāla Table &amp; Chairs vietnē publicējusi man lappuses formātā.

    .sig
      &mdash; open-news.lv

.quote
  %img{:src => '/images/flags/ru.png'}
  %a{:href => "http://opennet.ru/opennews/art.shtml?num=39624", :target => '_blank'} Музыкальная группа netcat выпустила альбом в форме модуля ядра Linux
  (opennet.ru)

  %blockquote
    %p
      Группа также примечательна тем, что опубликовала информацию о себе в каталоге музыкального фестиваля Table &amp; Chairs в форме man-страницы.

    .sig
      &mdash; OpenNet.ru

.quote
  %img{:src => '/images/flags/nl.png'}
  %a{:href => "http://webwereld.nl/development/82270-kernelmodule-linux-blijkt-electromuziek", :target => '_blank'} Kernelmodule Linux blijkt electromuziek
  (webwereld.nl)

  %blockquote
    %p
      De band Netcat heeft voor wat opschudding in de Linux-community gezorgd door zijn debuutalbum als kernelmodule uit te brengen. Donderdag publiceerde de band uit Seattle zijn eerste album Cycles per Instruction op de repository Github.

    .sig
      &mdash; Kristian van Tuil, Webwereld

.quote
  %img{:src => '/images/flags/es.png'}
  %a{:href => "http://www.ubuntizando.com/2014/04/24/banda-de-musica-lanza-su-nuevo-disco-como-modulo-para-tu-kernel-linux/", :target => '_blank'} Banda de música lanza su nuevo disco como módulo para tu kernel Linux
  (ubuntizando.com)

  %blockquote
    %p
      Frikismo puro, de esos que hacen babear a los melómanos más geeks del barrio. Resulta que la banda netcat ha lanzado su ultimo álbum como módulo para el núcleo Linux, sin olvidar los formatos tradicionales. Vamos que si te gusta su música puedes llevarla a todas partes dentro del dispositivo con kernel GNU/Linux que quieras.

    .sig
      &mdash; Miguel Parada, Ubuntizando
