%p
  CPUs are maxed at 100%, disk I/O is fully saturated.

%p
  netcat is <a href="http://www.davidbalatero.com" target="_blank">David Balatero</a> (cello/computers),
  <a href="http://brandonlucia.com" target="_blank">Brandon Lucia</a> 
  (<a href="/chango">chango</a>/drums/computers), and Andrew Olmstead (synths/computers).

%p
  <em>Cycles Per Instruction</em> is now out on cassette tape + digital.
  %a{:href => "http://netcat.bandcamp.com", :target => '_blank'}
    Listen and order here!

%h3 Links
%ul
  %li
    %a{:href => "http://netcat.bandcamp.com", :target => '_blank'} Bandcamp (official releases)
  %li
    %a{:href => "http://soundcloud.com/usrbinnc", :target => '_blank'} Soundcloud (live recordings)
  %li
    %a{:href => "http://github.com/usrbinnc", :target => '_blank'} GitHub (browse our code)
  %li
    %a{:href => "http://www.tableandchairsmusic.com", :target => '_blank'} Table &amp; Chairs (our record label)
  %li
    %a{:href => "https://www.dropbox.com/s/nssnui98g9t08yg/01_netcat_Press_3000x2000.jpg", :target => '_blank'} High-res press photo (nerds)
  %li
    E-mail us: 
    %a{:href => "mailto:root@netcat.co"} root@netcat.co

%pre
  :preserve
    NETCAT(1)                   General Commands Manual                  NETCAT(1)

    NAME
           netcat - a free improvising computer music band

    SYNOPSIS
           netcat - Cycles Per Instruction [April 18th 2014]

    DESCRIPTION
    As netcat, Brandon Lucia (drums, Chango, computers), David Balatero (cello,
    computers), and Andrew Olmstead (synthesizer, computers) explore the
    intersection between technology, complexity, and free improvisation.  netcat's
    music brings together seasoned performance on conventional instruments --
    cello, synthesizers, and drums -- combining it with computer generated sounds
    and computer instruments, like the Chango, a novel synthesizer that is played
    with light.

    The mixture of these ingredients is textural, long-form structured
    improvisations.  netcat's music is the kind that calls for laying down on the
    floor with expensive headphones on and enjoying the solipsism.  The flow of the
    round, sinusoidal bass of the Chango and synthesizer carry the listener on an
    electric current, through a confluence of sweeping, dramatic arcs on the
    cello and tympanic drumming.  Among it all manifests speaking computers
    attempting, with futility, to master spoken langugage and a sonic embodiment of
    the flurry of bits and bytes traversing a computer network.

    netcat's music is soothing and human, even as it careens through esoteric
    electric soundscapes.  As if despite the technology and complexity, netcat's
    sound is organic and approachable. It affords structure and cohesion to the
    listener, alluding to the profusion of technology and its relationship with
    humanity in the world today.

    AUTHOR
           brandon lucia  - drums, chango, computers
           david balatero - cello, computers
           andrew olmstead - synthesizer, computers

    SEE ALSO
           vangelis
           tangerine dream
           paul lansky
